<launch>

  <!--<arg name="mav_name" value="multirotor"/>-->

  <!-- FCU communication -->
  <node name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
    <!--<param name="udp" value="true"/>-->
  </node>

  <!-- Load roscopter Parameters -->
  <!--<rosparam command="load" file="$(find roscopter_sim)/params/multirotor.yaml"/>-->

  <!-- Is Flying Publisher -->
  <!--<node pkg="rostopic" type="rostopic" name="is_flying_pub" args="pub is_flying std_msgs/Bool true"/>-->

  <!-- Inertial Estimator -->
  <rosparam command="load" file="$(find roscopter)/params/ekf_gains.yaml" ns="estimator"/>
  <rosparam command="load" file="$(find roscopter)/params/ekf_drone.yaml" ns="estimator"/>
  <node name="estimator" type="ekf_node" pkg="roscopter" output="screen">
    <remap from="imu" to="/imu/data"/>
    <remap from="truth/pose" to="/vrpn_client_node/planck/pose"/>
    <remap from="truth/transform" to="/multirotor/truth/NED"/>
  </node>

  <!-- Controller -->
  <!--<group ns="$(arg mav_name)">-->

    <!-- Load common parameters -->
    <rosparam command="load" file="$(find lqr_controller)/params/mocap_lqr_params.yaml"/>

    <!--LQR Controller-->
    <node pkg="lqr_controller" type="lqr_controller" name="lqr_controller" output="screen">
      <remap from="estimate" to="/odom"/>
      <remap from="imu_data" to="/imu/data"/>
      <remap from="command" to ="/command"/>
    </node>

  <!--</group>-->

</launch>
